#grid_container {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-areas:
        ". header_area ."
        ". main_area .";
}

header {
    grid-area: header_area;
}

main {
    grid-area: main_area;
}

body {
    background-color: #FAFAFA;
}

form {
    background-color: white;
    border: 2px solid #CCCCCC;
    padding: 36px;
    font-weight: 650;
}

select {
    width: 100%;
    padding: 12px;
    margin:  12px 0px 10px;
}

#nameid {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    margin:  12px 0px 10px;
}

#emailid {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    margin:  12px 0px 10px;
}

#messageid {
    width: 100%;
    box-sizing: border-box;
    padding: 42px;
    margin:  12px 0px 10px;
}

h1 {
    text-align: center;
}

h5 {
    text-align: center;
}

#sendid {
    background-color: rgb(45, 203, 255);
    border: none;
    color: white;
    padding: 10px;
}