/* Task 8 - Write your code solution below */
#t8_box1 {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Task 9 - Write your code solution below */
#t9_box1 {
    margin: 60px;
}

/* Task 10 - Write your code solution below */
#t10_box5 {
    margin-left: 150px;
}


/* Task 11 - Write your code solution below */
#t11_box1,
#t11_box2,
#t11_box3 {
    margin-bottom: 100px;
}

/* Task 12 - Write your code solution below */
#t12_box2 {
    margin-left: 135px;
}

#t12_box3 {
    margin-left: 135px;
}

/* Task 13 - Write your code solution below */
#t13_box3 {
    margin-left: 250px;
}