.card {
    box-shadow: 0px 4px 6px 0px;
    padding: 16px;
    margin: 12px;
    box-sizing: border-box;
    overflow: hidden;
    flex: 1;
}

body {
    border: 2px solid palevioletred;
}

div {
    border: 2px solid greenyellow;
}

.flexbox {
    display: flex;
}

#special {
    flex: 2;
}